http://{$DOMAIN}:80 {

    handle /openapi.json {
        reverse_proxy server:8001
    }

    handle /docs {
        reverse_proxy server:8001
    }

    handle /redoc {
        reverse_proxy server:8001
    }

    handle_path /api/* {
        reverse_proxy server:8001 {
            flush_interval -1
            transport http {
                dial_timeout 10s
                response_header_timeout 600s
                read_timeout 600s
                write_timeout 600s
            }
        }
    }

    handle {
        reverse_proxy client:80
        encode gzip
    }

    header {
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        -Server
    }

    log {
        output stdout
        format console
    }
}
