{
    email {$ACME_EMAIL}
}

"{$DOMAIN}" {
    tls /etc/caddy/certs/myapp.rag.crt /etc/caddy/certs/myapp.rag.key

    reverse_proxy server:8001 {
        transport http {
            dial_timeout 10s
            response_header_timeout 600s
            read_timeout 600s
            write_timeout 600s
        }
    }

    encode gzip

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        -Server
    }

    log {
        output stdout
        format console
    }
}
